@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

body {
    font-family: Arima;
    background-color: rgb(88, 88, 88);
    margin: 0; /* Usunięcie domyślnych marginesów */
    display: flex; /* Umożliwienie użycia flexbox */
}

.sidebar {
    width: 30%; /* Maksymalna szerokość 30% */
    max-width: 250px; /* Opcjonalnie, aby ograniczyć do 250px */
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%; /* Cała wysokość strony */
    overflow-y: auto; /* Przewijanie w pionie, jeśli zawartość jest zbyt długa */
    text-align: center;
}

.sidebar h1 {
    color: orange;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    color: orange;
}

.logo {
    width: 75%; /* Ustawia szerokość na 75% */
    height: auto; /* Zachowuje proporcje obrazka */
    display: block; /* Umożliwia centrowanie */
    margin: 0 auto; /* Centruje obrazek */
}

.dropdown {
    display: none;
    margin-left: 20px; /* Dodatkowe wcięcie dla rozwijanej treści */
}
.dropdown-button {
    cursor: pointer;
}
.dropdown-button:hover {
    color: orange;
}

/*----------------------------------*/

.pictures{
    margin-left: 17.45%;
    height: 100%;
    width: 100%;
}
.zdjecie {
    width: 100%;
    height: 10% !important; /* Możesz zmienić na 'height: 100%;' jeśli chcesz, aby zdjęcie wypełniło wysokość kontenera */
    object-fit: cover; /* Dodaj to, aby zdjęcie wypełniło kontener */
    opacity: 0.8;
}

/*--------------------------------*/

.main {
    width: 35%;
    margin-left: 20%; /* Umożliwienie wyśrodkowania w 70% */
    display: flex; /* Umożliwienie użycia flexboxa */
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    min-height: 100vh; /* Ustawienie minimalnej wysokości na 100% widoku */
    padding: 20px; /* Dodatkowe odstępy */
}

form {
    background-color: white; /* Tło formularza */
    padding: 20px; /* Wewnętrzne odstępy formularza */
    border-radius: 8px; /* Zaokrąglenie rogów formularza */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Cień formularza */
}

/*---------------------------------*/

.secondmain{
    width: 35%;
    text-align: center;
    font-family: arima;
}
/*----------------------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 98.87%;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}

footer p {
    margin: 0;
}